extends layout

block content
  p Using the UbiApps Proxy and a cloud based messaging agent, the multi-device browser and notification handlers financial transaction processors can immediately notify an end user of a finance event. The user can either be passively notified, or real time approval can be made mandatory to the transaction completing.