extends layout

block content
  p This is a demonstration portal for issuing payment notifications and requests using Aegis Personal Payment Gateway
  p Use '<a href="/notify">payment notification</a>' to issue a notification of payment (no confirmation required).
  p Use '<a href="/request">request payment</a>' to issue a request for payment (confirmation is required).
